<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title> Project Gyruss </title>
    <!-- <META HTTP-EQUIV="refresh" CONTENT="5"> -->


      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery-3.2.1.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand">
          <h1>Project Gyruss Dashboard</h1>
        </a>
      </div>
     </div>
    </nav>

  <div class="container">
  <section id="tag_row">
    <div class="row">
      <h3>Tags Read</h3>
    </div>
      <div class="row">
        <div class="tagBox">
          <p>Tags Read: <%= @all_tags.count %></p>
           <% @all_tags.each do |tag| %>
           <br />
           <%= "EPC: #{tag['epc']}" %>
           <br />
           <%= "Times read: #{tag['read']}" %>
           <br />
           <% end %>
         </div>
       </div>
  </section>

   <section id="repeat_ui">
      <div class="row">
       <h3>Repeat Visits</h3>
      </div>
      <div class="row">

      <div class="col">
         <div>
           <div class="timeBoxes">
             <h4 class="boxHeaders">Last 5 minutes</h4>
             <p id="time-5" class="count">0</p>
           </div>
           <div class="timeBoxes">
             <h4 class="boxHeaders">Last 30 minutes</h4>
             <p id="time-30" class="count">0</p>
           </div>
           <div class="timeBoxes">
             <h4 class="boxHeaders">Last hour stream</h4>
             <p id="time-hour" class="count">0</p>
           </div>
         </div>
      </div>
      <div class="col">
        <div>
          <div class="timeBoxes">
            <h4 class="boxHeaders">Errors in Last 5 minutes</h4>
            <p class="count">0</p>
          </div>
          <div class="timeBoxes">
            <h4 class="boxHeaders">Errors in Last 30 minutes</h4>
            <p class="count">0</p>
          </div>
          <div class="timeBoxes">
            <h4 class="boxHeaders">Errors in Last hour stream</h4>
            <p class="count">0</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="unique_ui">
     <div class="row">
      <h3>Unique Visits</h3>
     </div>
     <div class="row">

     <div class="col">
        <div>
          <div class="timeBoxes">
            <h4 class="boxHeaders">Last 5 minutes</h4>
            <p id="2time-5" class="count">0</p>
          </div>
          <div class="timeBoxes">
            <h4 class="boxHeaders">Last 30 minutes</h4>
            <p id="2time-30"class="count">0</p>
          </div>
          <div class="timeBoxes">
            <h4 class="boxHeaders">Last hour stream</h4>
            <p id="2time-hour" class="count">0</p>
          </div>
        </div>
     </div>
     <div class="col">
       <div>
         <div class="timeBoxes">
           <h4 class="boxHeaders">Errors in Last 5 minutes</h4>
           <p class="count">0</p>
         </div>
         <div class="timeBoxes">
           <h4 class="boxHeaders">Errors in Last 30 minutes</h4>
           <p class="count">0</p>
         </div>
         <div class="timeBoxes">
           <h4 class="boxHeaders">Errors in Last hour stream</h4>
           <p class="count">0</p>
         </div>
       </div>
     </div>
   </div>
 </section>

</div>

  <script src="js/getTags.js"></script>
  <script src="js/moment.js"></script>
 </body>
</html>
