<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title> Project Gyruss </title>

      <link rel="stylesheet" href="css/custom.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
        <a class="navbar-brand">
          <h1>Project Gyruss</h1>
        </a>
      </div>
     </div>
    </nav>

    <div class="container">

      <ul class="tab_title">
        <a href="/" class="active"><li>Analytics Dashboard</li></a>
        <a href="/debug"><li>Debug</li></a>
        <a href="/settings"><li>Settings</li></a>
        <a href="/trakr"><li>PresenceTrackr</li></a>
      </ul>

     <section id="repeat_ui">

     <div class="tab tab1">
      <div class="row">
        <div class="col">
          <div class="row">
           <h3>Repeat Visits</h3>
          </div>
           <div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last 5 minutes</h4>
               <p id="time-5" class="count">0</p>
             </div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last 30 minutes</h4>
               <p id="time-30" class="count">0</p>
             </div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last Hour</h4>
               <p id="time-hour" class="count">0</p>
             </div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last 8 Hours</h4>
               <p id="time-8" class="count">0</p>
             </div> <div class="timeBoxes">
                <h4 class="boxHeaders">Last 24 hours</h4>
                <p id="time-24" class="count">0</p>
             </div>
           </div>
        </div>
        <div class="col">
          <div class="row">
           <h3>Unique Visits</h3>
          </div>
           <div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last 5 minutes</h4>
               <p id="2time-5" class="count">0</p>
             </div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last 30 minutes</h4>
               <p id="2time-30"class="count">0</p>
             </div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last Hour</h4>
               <p id="2time-hour" class="count">0</p>
             </div>
             <div class="timeBoxes">
               <h4 class="boxHeaders">Last 8 Hours</h4>
               <p id="2time-8" class="count">0</p>
             </div>
             <div class="timeBoxes">
                <h4 class="boxHeaders">Last 24 hours</h4>
                <p id="2time-24" class="count">0</p>
             </div>
           </div>
         </div>
       </div>
     </div>
    </section>

    <!-- <div class="tab tab2">
      <div class="tab-pane">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">EPC</th>
              <th scope="col">Date</th>
              <th scope="col">RSSI</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody id="table_body">
             <tr>
              <th class="row_width" scope="row"></th>
              <td class="row_width2"></td>
              <td class="row_width3"></td>
              <td class="row_width4"></td>
            </tr>
          </tbody>
        </table>
       </div>
      </div>

    <div class="tab tab3">
     <div class="row">
      <div class="col">
        <div class="row">
          <h4>Reader Details</h4>
        </div>
        <div>
         <p>Reader ID:</p>
         <p>Status of Connection: <%= @reader_status %></p>
         <p>OS path: <%= @platform %> <%= @com %></p>
        </div>

        <div class="row">
         <h4>Linger Threshold:</h6>
        </div>

        <div class="row">
         <h4>Reader Duty Cycle:</h6>
        </div>
       </div>

       <div class="col">
        <div class="row">
          <h4>Control Panel</h4>
        </div>
        <div class="row">
        <div>
          <button id="csv">Export to CSV</button>
         <form action="/output" method="post">
          <button type="submit">Reset Counter</button>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>

   </div> -->
  </div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="js/getTags.js"></script>
  <script src="js/debug.js"></script>
  <script src="js/tabs.js"></script>
 </body>
</html>
