<h1>Execute a Reader Command</h1>
<form action="/execute" method="post">
  <p>
    <label>Command To Execute</label>
    <input id="reader_command" name="reader_command" type="textbox"></input>
  </p>
  <p>
    <input type="submit" value="Execute!"></input>
  </p>
  <legend>
    <h2>Result</h2>
    <%= @reader_response %>
  </legend>
</form>
