.navbar {
  background-color: #222;
  color: #fff;
}

/* Tag Boxes */

div.timeBoxes {
  border: 1px solid black;
  height: 200px;
  margin: 20px;
  box-shadow: 0 0 2px;
}

.count {
  font-size: 4em;
  text-align: center;
}

/* Repeat */

#repeat_ui,#unique_ui {
  margin-top: 50px;
}

h4.boxHeaders {
  padding: 10px;
}
